<h1>Let's Think About This Task:</h1>

<ul>
  
  <li> Task Number: <%= @task.id %> </li>

  <li> Task: <%= @task.task_name %> </li>

  <li> Description Given: <%= @task.task_description %> </li>

  <li> Date Completed: <%= @task.task_completed %> </li>

  <li> Date Started: <%= @task.task_started %> </li>

  <li> Person Assigned: <%= @task.person.name %> </li>

  <li> Completed this task? <%= button_to "Complete!", "/tasks/#{@task.id}/complete", method: :patch, data: {confirm: "Did you REAALLLLY do this?"} %> </li>

</ul>


<%= button_to "Back to Task List", "/tasks" %> 
<br>
<%= button_to "Edit This Task", "/tasks/#{@task.id}/edit", method: :get %>




