<h1>   Form goes here </h1>


<%= form_for @add_task, url: {action: "index"} do |f| %>

<fieldset>

<legend> Add Task Form </legend>

<%= f.label :task_name %>
<%= f.text_field :task_name %>

<%= f.label :task_description %>
<%= f.text_area :task_description %>


</fieldset>

<%= f.submit 'Add to Task List' %>

<% end %>





      