<h1>Let's Think About This Task:</h1>

<ul>
<li> Task Number: <%= @task.id %> </li>

<li> Task: <%= @task.task_name %> </li>

<li> Description Given: <%= @task.task_description %> </li>

<li> Date Completed: <%= @task.task_completed %> </li>

<li> Date Started: <%= @task.task_started %> </li>

<li> Have you completed this task? <%= @task.complete_task %></li>

</ul>

<a href = "/"> Back to task list, please.</a>





